// Import material theming functions
@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent: mat-palette($mat-purple);
$app-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent, 800);
$accent-hover: mat-color($app-accent, A700);
$accent-light: mat-color($app-accent, 700);
$warn: mat-color($app-warn);
$font-logo: "Cinzel", Courier, monospace;
$bgcolor-sidenav: #263238;

// Sizes
$min-height-header: 50px;
$padding-default: 15px;
$width-sidenav-only-icons: 80px;
$width-sidenav-with-labels: 250px;
