<!--Header component-->
<div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-4">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand logo m-0" id="logo" href="#">
                Ωmega Bank
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Logar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Cadastre-se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/fweofh">Error 404 Test</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>