<mat-sidenav-container class="container-sidenav area-admin">
  <mat-sidenav [mode]="mode" #sidenav opened class="sidenav mat-elevation-z6 ">
    <div class="container text-center">
      <div class="row sidenav-item sidenav-logo">
        <div class="side-icon logo-icon">&#8486;</div>
        <div class="sidenav-item-label sidenav-logo-label">
          Omega
        </div>
        <mat-icon class="side-icon-menu" hidden>menu</mat-icon>
      </div>
      <div class="row d-block">

        <div *ngFor="let item of menuitems" class="col-12 link-item-menu" matTooltip="{{item.tooltip}}"
          matTooltipPosition="right" routerLinkActive="active-link" routerLink="{{item.routerLink}}">
          <div class="row sidenav-item">
            <mat-icon class="side-icon">{{item.icon}}
            </mat-icon>
            <div class="sidenav-item-label">
              {{item.title}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
