@import "../../css/variables.scss";

.mat-sidenav-content {
  margin-left: 240;
}

.container-sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fcfcfc;
}

.mat-drawer-side {
  border-width: 0 !important;
}

.active-link {
  background-color: $accent !important;
}

.link-item-menu:active,
.link-item-menu:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}
/*
.active-link .sidenav-item::after {
  content: "";
  display: inline-block;
  margin-right: -15px;
  vertical-align: middle;
  width: 0;
  height: 0;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
}
*/
.sidenav-logo {
  font-family: $font-logo;
  font-size: 50px !important;
  font-weight: 500;
  line-height: 0.9 !important;
  min-height: $min-height-header;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: $accent-light;
  font-weight: 700;
  background-color: white;
}

.sidenav-logo-label {
  font-size: 0.5em !important;
  font-family: Roboto;
}

.side-icon {
  width: 50px;
}

/*[class^="sidenav-item"]:hover,
[class*="sidenav-item"]:hover {*/
.sidenav-item:not(.sidenav-logo):hover {
  background-color: $accent-hover; //#758eff;
  cursor: pointer;
  @include mat-elevation-transition;
  @include mat-elevation(20);
}

.sidenav {
  overflow-x: hidden;
  background: $bgcolor-sidenav; //#5574ff;
  transition: width 0.1s ease-in;

  width: $width-sidenav-only-icons;
}

.sidenav:hover {
  width: 250px;

  .sidenav-item-label {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.9s ease, visibility 4.5s, height 2s;
    height: 0;
    margin-top: -17px;
  }

  .side-icon-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.9s ease, visibility 4.5s, height 2s;
    height: 0;
  }
}

.side-icon-menu {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -20px;
}

.sidenav-item {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px;
}

.sidenav-item-label {
  margin-left: 5px;
  padding-right: 35px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  max-width: fit-content;
}

.sidenav-pinned {
  width: $width-sidenav-with-labels;
}

@media only screen and (max-height: 460px) {
  .help-link {
    position: inherit;
  }
}
