@import "../../../css/variables.scss";

.form-group {
  padding-top: 10px;
}

/*------------ Global ------------*/

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  color: #003586 !important;
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 400;
}

/*------------ IDs ------------*/

#btn-signup {
  background-color: $accent;
  border: $accent;
}

#btn-signup:hover {
  opacity: 1;
}

#logo {
  color: #003586;
  font-size: 56px;
  font-family: "Cinzel", serif;
  margin: 0 auto;
}

#login-error-warning {
  color: red;
}

/*------------ Classes ------------*/

.btn-container {
  padding-top: 12px;
  text-align: center;
  min-width: 80px;
}

.signup-text {
  font-family: "Cinzel", serif;
  font-size: 24px;
  margin: 0;
  padding: $padding-default;
}

.strong-p {
  font-weight: 500;
}

.card {
  border-radius: 30px;
}
