@import "./variables.scss";

/**
 Button Angular Material
 https://material.angular.io/components/button/examples
**/
.mat-button-base:not(.mat-fab) {
  border-radius: 10px !important;
}

/**
HTML Elements
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $accent;
  margin: 0 !important;
  font-family: $font-family-logo;
  text-transform: uppercase;
  font-weight: 600 !important;
}

// Override no background do modal do angular material (escurecendo um pouco mais)
.cdk-overlay-dark-backdrop {
  background: rgb(0, 0, 0, 0.82) !important;
}

// wrapper para os containers iniciais de cada component
.content-default-container {
  padding: $padding-default;
}

/**
CUSTOMIZAÇÕES QUE NÃO FUNCIONAM DIRETAMENTE NO CSS DOS COMPONENTES
**/
// Remover bug de scroll no sidenav dentro do módulo area-admin
.area-admin .mat-drawer-inner-container {
  overflow: hidden !important;
}

// Removendo div do carde na tela de extratos
.header-balance .mat-card-header-text {
  display: none !important;
}

// TEla
.container-account .mat-select-value {
  max-width: fit-content !important;
}
