@import "./variables.scss";

/**
 Button Angular Material
 https://material.angular.io/components/button/examples
**/
.mat-button-base:not(.mat-fab) {
  border-radius: 10px !important;
}

/**
HTML Elements
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $accent;
  margin: 0 !important;
}
