<app-header></app-header>
<!--Main Login Container-->
<div class="container" style="min-height:100vh">
  <div class="row mt-5 mb-5">
    <div class="col-md-6 m-auto">
      <img src="assets/img/login-omega.svg" class="img-fluid m-auto" width="80%" alt="Ilustração Ômega">
    </div>
    <div class="col-md-6 m-auto">
      <div class="card">
        <div class="fluid text-center pt-5">
          <p class="login-text">Viva uma nova experiência!</p>
        </div>

        <form class="p-5" #form="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail</label>
            <input id='username-input' name="username" [(ngModel)]="username" type="email" class="form-control  mb-4"
              placeholder="Digite o seu e-mail ou nome de usuário...">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input id='password-input' [(ngModel)]="pw" name="pw" type="password" class="form-control  mb-4"
              placeholder="Digite a sua senha...">

          </div>
          <p id='login-error-warning' *ngIf="loginError==true">{{loginErrorMessage}}</p>

          <div>
            <p>Ainda não tem uma conta? <a routerLink="/signup">Cadastre-se!</a></p>
          </div>
          <div class="btn-container">
            <a id="btn-login" class="btn btn-primary" (click)="onLoginButtonSubmit(form)"> Login </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
