@import "../../../css/variables.scss";

/*------------ Global ------------*/

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  color: $accent !important;
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 400;
}

/*------------ IDs ------------*/

#btn-login {
  background-color: $accent;
  border-color: $accent;
}

#btn-login:hover {
  opacity: 1;
}

#login-error-warning {
  color: red;
  text-align: center;
  font-weight: 400;
}

.error-input-validation {
  color: red;
  font-size: 0.9em;
}

.ng-invalid.ng-touched {
  border-color: red;
}

/*------------ Classes ------------*/

.btn-container {
  padding-top: 12px;
  text-align: center;
}
.btn-container {
  min-width: 50px;
}

.login-text {
  font-family: "Cinzel", serif;
  font-size: 28px;
  margin: 0;
}

.strong-p {
  font-weight: 500;
}

.card {
  border-radius: 30px;
}
