@import "../../../css/variables.scss";

.container-header {
  min-height: $min-height-header;
  display: flex;
  align-items: center;

  @include mat-elevation(20);
}

.title {
  font-size: 1.7em;
  font-weight: 500;
  padding-left: $padding-default;
}

.welcome {
  font-size: 1.2em !important;
  padding-right: $padding-default;
  color: $accent;

  span {
    font-size: 1.2em !important;
  }

  .mat-icon {
    font-size: 1.8em !important;
    height: fit-content !important;
  }
}
