<div class="container-header d-flex justify-content-between">
  <h1 class="title">
    {{title}}
  </h1>

  <div class="welcome d-none d-sm-block">
    <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu" aria-label="Menu de sessão do usuário">
      <span>Olá, {{nameUser}}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="doLogout()">
        <mat-icon>logout</mat-icon>
        <span>Encerrar sessão</span>
      </button>
    </mat-menu>
  </div>
</div>
